@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:wght@300;400;600;700&display=swap');
*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.backcop{
    position: relative;
    position: sticky;
    bottom: 60px;
    right: 60px;
}

